.main-bg {
    background-image: url(https://lh3.googleusercontent.com/p/AF1QipNtY0QlxpODNr6228O0WMCd1SpT2jGrWxkct_4a=w1080-h608-p-no-v0);
background-size: cover;
background-position: center center;
color: var(--white-color);
height: 100vh;
}

.white-bg{
    background: var(--white-color);
    color: var(--primary-color);
}

.main-content{
    max-width: 120rem;
    margin: 0 auto;
    padding: 5rem var(--gap);
}

.section {
    min-height: 100vh;
}

.menu-spacing{
    height: 65px;
}

.intro-content{
    position: relative;
   /* top: -7rem; */
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text-conten, .intro-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}


.intro-img img,
.intro-img svg {
    max-width: 100%;
    height: auto;

}



.intro-img{
    position: relative;
  left: 2rem;
 bottom: 10rem;
}

.produtos-content{
    max-width: 64rem;
    display: flex;
    /* flex-flow: column wrap; */
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 100vh;
    text-align: center;

}
 
.grid-one-content{
    height: 100vh;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

.grid-main-heading {
    margin-bottom: 1rem;
}

.grid-description{
    padding-bottom: 1rem;
}



.grid h3{
    font-size: 3rem;
}

.grid h3{
    font-size: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.main-content p{
    font-size: 1.2rem;
}


.responsive-table {
    overflow: hidden;
    overflow-x: auto;
}

body .full-width {
    width: 100%;
    flex: 1 1 100%;
}
